li{
    list-style-type: none;
}

body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(241, 240, 240);
}

/* HEADER  @@@@@@@@@@@@@*/
header{
    height: 50px;
    /* background: rgba(132, 132, 130, 0.733); */
    background: #151515;
    position: relative;
    box-shadow: 0 10px 16px 0 rgba(0,0,0,0.2),0 6px 10px 0 rgba(0,0,0,0.4) !important;
    /* filter: blur(0.0px); */
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    header span a{
        
        font-size: 32px;
        position: absolute;
        left: 5%;
        color: rgb(255, 255, 255);
        text-decoration: none;
        text-align: center;
        margin-top: 2px;
    }
    header span a:hover{
        color: white;
    }

    header ul{
        float: right;
        list-style-type: none;
        margin-right: 50px;
    }
    header ul::after{
        clear: both;
    }
    header ul a:hover{
        color: white;
        opacity: 1;
    }
        header ul li{
            float: right;
            padding: 13px;
            font-size: 16px;
            margin-bottom: 1px;
            color: #fff;
        }
            header ul li:hover{
                opacity: 0.9;
                transition: 0.05s;
                /* color: black;
                background: white; */
            }
                header ul li a{
                    position: relative;
                    padding: 5px 0;
                    color: rgb(255, 255, 255);
                    text-decoration: none;
                }

/* ENDHEADER @@@@@@@@@@@@@@@@@ */

main{
    margin-top: 30px;
}

.container .row{
    margin-bottom: 10px;
}
.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.089);
    
    padding: 3px;
    margin-top: 10px;
}
/* .card:hover{
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.568);
    transition: 0.4;
} */

.img-main{
    overflow: hidden;
}

.img-main img{

    -moz-transition: all 0.3s;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.img-main:hover img{
    -moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);  
}


.div-about{
    position: relative;
}

.div-about-1{
    background-color: black;
    color: rgba(255, 255, 255, 0.692);
}

.div-about-2{
    background-color: #D5D3CF;
}

.div-about-text{
    text-align: center;
    padding: 20px 100px 20px 100px;
    font-style: italic;
}
.div-about-text span{
    font-size: 40px;
}

/* Footer */
footer{
    background: #151515;
    max-height: 1020px;
    position: relative;
}

footer .row{
    padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

footer span{
    color: #fff;
}


footer .logo span{
    font-size: 30px;
    font-style: italic;
    color: white;
}

footer .channel{
    
    font-style: normal;
    border-width: 2px;
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            white,
            rgba(0,0,0,0)
        ) 0 0 0 1;
}
footer .channel span{
    font-size: 22px;
    margin-top: 10px;
}

footer .info{
    font-style: normal;
    font-size: 14px;
    border-width: 2px;
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            white,
            rgba(0,0,0,0)
        ) 0 0 0 1;
    
}
footer .info span{
    font-size: 22px;
    margin-top: 10px;
}

footer a{
    color: #fff;
}


/* End Footer */
label #sign-one, label #sign-two{
    font-size: 30px;
    color: #fff;
    float: right;
    line-height: 50px;
    margin-right: 30px;
    cursor: pointer;
    display: none;
}
#res-menu{
    display: none;
}

.nav-links{
    text-align: right;
    justify-content: flex-end;
    height: 90%;
    font-size:2em;
}

@font-face {
    font-family: 'JJannon';
    src: local('JJannon Book Italic'), local('JJannon-Book-Italic'), local('JJannon-BookItalic'),
        url('../fonts/JJannon-BookItalic/JJannon-BookItalic.woff2') format('woff2'),
        url('../fonts/JJannon-BookItalic/JJannon-BookItalic.woff') format('woff'),
        url('../fonts/JJannon-BookItalic/JJannon-BookItalic.ttf') format('truetype');
    font-weight:normal;
    font-style: italic;
  }

@font-face {
    font-family: 'Baloo2';
    src: local('Baloo2'), local('Baloo2'), local('Baloo-2'),
        url('../fonts/Baloo2/Baloo2-Regular.ttf') format('truetype');
    font-weight: normal;
}

div #member{
    min-height: 1000px;
}

.sidebar{
    float: left;
    top: 0;
    left: 0;
    background-color: #151515;;
    height: 100%;
    position: relative;
    padding-left: 0;
    /* visibility: hidden; */
    overflow: hidden;
    max-width: 240px;
    border-radius: 20px 0 0 20px;
}
.sidebar ul{
    padding-left: 0;
}

.sidebar a{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    display: block;
    
}

.sidebar a:hover{
    background-color: white;
    color: #151515;
    transition: 0.1s;
}

/* PANEL */
#panel{
    width: 1500px;
    height: 1200px;
    box-shadow: 0 0 5px 1px grey;
    margin-bottom: 20px;
    max-width: 80%;
    padding-left: 0;
    border-radius: 20px;
}
#panel .main table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

#panel.main td, th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

#panel .main tr:nth-child(even){
    background-color: #dddddd;
}

#panel .main{
    position: relative;
    margin-left: 228.2px;
    padding-left: 20px;
}

#panel table td>div{
    padding:8px;
}
#panel .tabela{
    overflow-x: auto;
    overflow-y: hidden;
}

#panel section.content-header{
    padding: 15px 0 15px 15px;
}
#panel section .breadcrumb{
    float: right;
    color:red;
    position: absolute;
    top: 10px;
    right: 5px;
    background-color: transparent;
}
#panel .main .tabela{
    padding: 10px;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    border-top: 3px solid rgba(23, 162, 184, 1);
    background: white;
    min-height: 875px;
}
#panel .main .tabela table{
    border: 1px solid #dddddd;
}

/* ENDPANEL */

#main
 {
    background-color: white;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;

 }

.linha{
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, rgb(0, 0, 0), transparent);  
}